{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <!--Left SideBar-->
        <!--load the sidebar here-->
        {% include 'dashboards/sidebar.html' %}
        <!--Right Side Content-->
        <div class="col-md-9">
            <h2>Add New User</h2>
            <form action="{% url 'add_user' %}" method="POST"  style="width:500px">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-warning">Add User</button>
            </form>
            <br>
        </div>
    </div>
{% endblock %}
